body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}


.no-border, .no-border tr, .no-border td{
    border: none;
}

table {
    border-collapse: collapse;
}

.center-table {
    margin: auto;
    border-collapse: collapse;
    text-align: center;
}

.center-table td, .center-table th {
    padding: 5px 10px;
}

tr, td, th {
    border: 1px solid;
    padding: 2px;
}

.light-grey {
    background-color: lightgrey;
    border-radius: 10%;
}

.lighter-grey {
    background-color: rgba(128, 128, 128, 0.174);
}

.error {
    color: red;
    font-size: 12px;
}