<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session</title>
</head>
<body>

    <form method="POST" action="/session/cart">
        <table>
            <tr>
                <td>Item: </td>
                <td>
                    <input type="text" name="item" required>
                </td>
            </tr>
            <tr>
                <td>Quantity</td>
                <td>
                    <input type="number" name="quantity" required>
                </td>
            </tr>
            <tr>
                <td></td>
                <td>
                    <button type="submit">Add to cart</button>
                </td>
            </tr>
        </table>
    </form>
    
</body>
</html>