<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Session Cart</title>
</head>
<body>

    <table>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
        </tr>
        <tr data-th-each="cart: ${cartList}">
            <td data-th-text="${cart.key}"></td>
            <td data-th-text="${cart.value}"></td>
        </tr>
    </table>
    
    <div>
        <a href="/session">Back</a>
    </div>
</body>
</html>